.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/