body {
  background: rgb(232, 98, 228);
  background: linear-gradient(
    90deg,
    rgba(232, 98, 228, 1) 12%,
    rgba(242, 101, 184, 1) 82%
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  font-size: larger;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 1em auto 0 auto;
  padding: 0;
  font-size: xx-large;
  text-align: center;
}
p.subheading {
  font-size: x-large;
  font-style: italic;
}
button {
  padding: 0.4em;
  background-color: #f472fd;
  color: white;
  border: none;
  font-size: x-large;
  font-style: bold;
}
button:active,
button:hover {
  background-color: white;
  color: #f472fd;
}
button:focus {
  outline-style: none;
}
p.prompt {
  font-size: 4em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.button {
  background: rgb(40, 159, 102);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-size: xx-large;
  width: 8em;
  margin: 0.25em auto;
  height: 100%;
  padding-top: 0.2em;
}
.button p {
  margin: 0;
  padding: 0;
}
.row {
  justify-content: center;
}
.dialog-container {
  background-color: transparent;
}
.dialog {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background: rgb(40, 159, 102);
  border: none;
  color: white;
  text-align: center;
  position: relative;
  justify-content: space-around;
  padding: 2em 0;
}
.dialog h2 {
  font-size: xx-large;
}
#x {
  position: absolute;
  background: transparent;
  color: white;
  top: 5px;
  right: 10px;
  font-size: xx-large;
}
@media screen and (max-width: 992px) {
  .button img {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
  .dialog {
    width: 90%;
  }
}
.fa {
  color: white;
  padding: 0 0.5em;
}
.fa:hover,
.fa:active {
  color: rgb(40, 159, 102);
  text-decoration: none;
}
#loading {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}
