@page "/"
<main class="container">
    <div class="row">
        <img src="/images/mooz-logo.svg" alt="Mooz logo" width="50%">
    </div>
    <RandomArtApp.Shared.Record />
    <Footer />
</main>
 @code {



 }