<footer>
    <p class="text-center mt-4">&#169; Zoe Locke 2025
         <a href="https://toot.wales/@@zoelocke" target="_blank" alt="toot.wales/@@zoelocke" title="Zoe Locke on Mastodon"><i class="fa-brands fa-mastodon"></i></a>
         <a href="https://github.com/ZoeLocke/RandomArtApp" taget="_blank" alt="github.com/ZoeLocke/RandomArtApp" title="Mooz on GitHub"><i class="fa-brands fa-github"></i></a>
    </p>
</footer>
