<footer>
<span class="text-center mt-4">
    <p class="text-center mt-4">&#169; Zoe Locke 2025</p>
    <a href="https://toot.wales/@@zoelocke" class="fa-brands fa-mastodon" target="_blank" alt="toot.wales/@@zoelocke" title="Zoe Locke on Mastodon"></a>
    <a href="https://github.com/ZoeLocke/RandomArtApp" class="fa fa-github" taget="_blank" alt="github.com/ZoeLocke/RandomArtApp" title="Mooz on GitHub"></a>
</span>
</footer>
