<footer>
    <p class="text-center mt-4">&#169; Zoe Locke 2025
         <i class="fa fa-twitter"><a href="https://toot.wales/@@zoelocke" target="_blank" alt="toot.wales/@@zoelocke" title="Zoe Locke on Mastodon"></a></i>
         <i class="fa fa-github"><a href="https://github.com/ZoeLocke/RandomArtApp" taget="_blank" alt="github.com/ZoeLocke/RandomArtApp" title="Mooz on GitHub"></a></i>
    </p>
</footer>
