@using RandomArtApp.Data
@inject RecordService RecordService

<p>Your prompt is... @NounType</p>

<p><b>@record.IndefiniteArticle @record.Noun</b></p>

@code {
    private Models.Record record { get; set; } = new Models.Record(); 
    [Parameter]
    public string NounType { get; set; } = "object";
    [Parameter]
    public EventCallback<string> NounTypeChanged { get; set; }
    private async Task UpdateNounTypeFromParent()
        {
            await NounTypeChanged.InvokeAsync( NounType );
            record = await RecordService.GetRecordsAsync(NounType);
        }
}
